body{
			text-align: center;
		}
		#all{
			margin: auto;
			
			height: 1230px;
			background-color: #ffffff;
			
		}
		#logo{
			margin: auto;
			height: 100px;
		}
		#logo_id{
			margin-left: 270px;
			width: 800px;
		}
		.logo_class{
			width: 800px;
		}
		#menu{
			margin: auto;
			height: 37px;
			background-color: #d7d61c;
		}
		#menu_id{
			margin-left: 177px;
			width: 990px;
			background-color: #d7d61c;
			height: 36px;
			margin-top: -1px;
		}
		.menu_class{
			margin-left: 58px;
			width: 932px;
		}
		#content{
			margin: auto;
		}
		#banner{
			background-color: #f9f7ed;
			margin: auto;
			height: 337px;
		}
		#banner_id{
			margin-left: 177px;
			width: 990px;
		}
		.banner_class{
			margin-left: 100px;
			width: 700px;
		}
		#message{
			margin: auto;
			height: 700px;
			margin-top: -90px;
		}
		#message_id{
			margin-left: 177px;
			width: 990px;
			height: 700px;
		}
		.message_class{
			margin-left: 58px;
			width: 932px;
			background-color: #faf8f9;
			height: 700px;

		}

		#footer{
			background-color: #ded9c5;
			margin: auto;
			height: 245px;
		}
		#footer_id{
			margin-left: 177px;
			width: 990px;
		}
		.footer_class{
			margin-left: 58px;
			width: 932px;

		}

		.status{
			width: 900px;
			height:150px;
			margin-top: 90px;
			padding-top: 60px;
		}
		.status img{
			width: 600px;
			height: 70px;
		}


		.form{
			padding-top: 50px;
			width: 900px;
			height: 450px;
		}
		.form_1{
			width: 700px;
			height: 70px;
			margin-left:100px;
			margin-top: 50px;
		}
		.realname{
			width: 100px;
			height:50px;
			margin-left: 70px;
			margin-top: 9px;
			padding-top: 15px;
			font-size: 15px;
			color: #696969;
		}
		.form_name{
			padding-top: 9px;
			width: 400px;
			height:50px;
			margin-left: 180px;
			margin-top: -50px;

		}
		.form_2{
			width: 700px;
			height: 70px;
			margin-left:100px;
			margin-top: 20px;
		}
		.number{
			width: 100px;
			height:50px;
			margin-left: 70px;
			margin-top: 9px;
			padding-top: 15px;
			font-size: 15px;
			color: #696969;
		}

		.form_number{
			padding-top: 9px;
			width: 400px;
			height:50px;
			margin-left: 180px;
			margin-top: -50px;
		}
		.form_3{
			width: 700px;
			height: 70px;
			margin-left:100px;
			margin-top: 20px;
		
		}
		.form_stu{
			padding-top: 9px;
			width: 400px;
			height:50px;
			margin-left: 180px;
			margin-top: -50px;
		}
		.stu{
			width: 100px;
			height:50px;
			margin-left: 70px;
			margin-top: 9px;
			padding-top: 15px;
			font-size: 15px;
			color: #696969;
		}
		.button{
			width: 900px;
			height: 60px;
		}

		.button_next{
			width: 140px;
			height: 45px;
			margin-top: -30px;
			margin-left: 350px;
		}
		.btn{
			width: 100px;
			height: 40px;
		}